* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}

.box {
    border: 1px solid white;
    border-radius: 5px;
    height: 52vh;
    width: 35vw;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px grey;
}

.header {
    margin-top: 20px;
    border: 1px solid rgba(134, 129, 129, 0.238);
    height: 10vh;
    width: 30vw;
    padding: 5px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    /* text-align:center; */
    box-shadow: 5px 5px 5px rgba(247, 240, 240, 0.798);
}

.options {
    margin-top: 20px;
    text-align: center;
}

.opt-btn {
    padding: 5px;
    margin-bottom: 13px;
    width: 25vw;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(134, 129, 129, 0.238);
    box-shadow: 5px 5px 5px rgba(247, 240, 240, 0.798);
}

.opt-btn:focus {
    background-color: violet;
    width: 24vw;
}

.opt-btn:hover {
    background-color: rgba(238, 130, 238, 0.616);
}


.next-btn button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px;
    color: white;
    width: 10vw;
    border: none;
    cursor: pointer;
    background-color: blue;
    /* border: 1px solid rgba(134, 129, 129, 0.238); */
    box-shadow: 5px 5px 5px rgba(247, 240, 240, 0.798);
}

.next-btn button:focus {
    width: 9vw;
}

.result-box {
    padding-top: 20px;
    /* margin-top: 100px; */
    border: 1px solid white;
    border-radius: 5px;
    height: 50vh;
    width: 35vw;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px grey;
}

tr {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 13px;
    width: 24vw;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(134, 129, 129, 0.238);
    box-shadow: 5px 5px 5px rgba(247, 240, 240, 0.798);
}